/* CSS Document */

/* 
COLORS:
	Blue: #00568c
	Green: #008e66
	White: #ffffff
	Gray: #cccccc
	Blue Fade: #00568c99
	Green Fade: #008e6699
*/

* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	color: #000000;
	background-color: #ffffff;
}

nav {
	background-color: #cccccc;
	text-align: center;
}

nav ul {
	width: 100%;
}

nav ul li {
	display: inline;
}

nav a {
	font-family: "Impact", "Haettenschweiler", "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 3em;
	text-decoration: none;
	margin: 3%;
	transition: all .3s;
}

nav a:hover {
	font-size: 3.3em;
}

.nav1, .list1 {
	color: #00568c;
}

.nav2, .list2 {
	color: #008e66;
}

.nav1:hover {
	color: #00568c;
	text-shadow: 0 0 10px #00568c99;
}

.nav2:hover {
	color: #008e66;
	text-shadow: 0 0 10px #008e6699;
}

h1, th {
	text-align: center;
	font-family: "Impact", sans-serif;
	font-size: 3em;
}

h2 {
	
}

blockquote {
	
}

.titleImage {
	width: 100%;
	background-image: url("../images/home.jpg")
}

.title1 {
	color: #00568c;
	text-shadow: 0 0 10px #00568c99;
}
.title2 {
	color: #008e66;
	text-shadow: 0 0 10px #008e6699;
}

footer h5 {
	text-align: center;
}

main {
	font-size: 1.5em;
	font-family: "Segoe", "Segoe UI", "DejaVu Sans", "Trebuchet MS", "Verdana", "sans-serif";
	margin: 1% 0;
}

main img {
	width: 80%;
}


main .image {
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.newsletterImage {
	width: 60%;
	border: 0;
}

.button {
	border: 0;
	padding: 7px 17px;
	border-radius: 20px;
	background-color: #000000;
	font-weight: bold;
	font-size: 1.5em;
	color: #ffffff;
	transition: 0.2s all;
}

#submit {
	background-color: #00568c;
	color: #008e66;
}

#reset {
	color: #00568c;
	background-color: #008e66;
}

.button:hover {
	cursor: pointer;
}

#submit:hover {
	background-color: #99ff99;
	color: #009900;
}

#reset:hover {
	background-color: #ff9999;
	color: #990000;
}

input, select {
	border: 1px solid #000000;
	border-radius: 5px;
}

.tablep {
	text-align: center;
	border: 0;
}

table {
	
}

td {
	border: 1px dashed #cccccc;
	text-align: center;
}

th {
	border: 0;
}

.buttontd {
	text-align: center;
	border: 0;
	padding-top: .5%;
}